parserOptions:
  ecmaVersion: 2017
  sourceType: module

env:
  es6: true
  node: true

extends:
  "eslint:recommended"

rules:
  no-cond-assign: 0
  no-console: 0
  no-constant-condition: 0
  no-inner-declarations: 0
  no-unused-vars:
    - 2
    - argsIgnorePattern: ^_
  no-useless-escape: 0
