[submodule "notebooks/v1"]
	path = notebooks/v1
	url = https://github.com/Qiskit/textbook.git
  branch = maintenance/v1.x
[submodule "notebooks/v2"]
	path = notebooks/v2
	url = https://github.com/Qiskit/textbook.git
  branch = maintenance/v2.x
