// =============================================================================
// Shared Qiskit Styles
// =============================================================================


@import "./variables";


svg.mathjax { display: inline-block; }

.juniper-cell, code, pre, x-step code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.juniper-cell {
  border: none;
  font-size: 15px;
  margin: 1.5em 0;
  line-height: 1.5;
  .CodeMirror { padding: 16px 14px; }
  x-step & pre { margin: 0; }
}

.juniper-input {
  background-color: #F2F4F8;
  border: 1px solid #DDE1E6;
  border-radius: 4px 4px 0 0;
  position: relative;
}

.juniper-output {
  background: white;
  border: 1px solid #DDE1E6;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  padding: 16px;
  color: inherit;
}

[dir] .juniper-button {
  background: darken(#DDE1E6, 8%);
  border-radius: 0 4px 0 0;
  color: #222;
  cursor: pointer;
  display: block;
  padding: 6px 12px;
  position: absolute;
  right: 0;
  top: 0;
  transition: background .2s;
  z-index: 100;
  &:hover, &:focus { background: darken(#DDE1E6, 22%); }
}

.target-body {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  pointer-events: none;
  z-index: 900;
  opacity: 0;
  will-change: opacity;
  transition: opacity .3s;
}

a.c-sidebar__entry:hover {
  background: initial;
}
// x-step {
//   height: initial;
//   opacity: initial;
//   overflow: initial;
// }
// x-progress {
//   display: none;
// }

button.thebelab-button {
  margin-right: 4px;
  padding: 6px 16px;
}
div.qiskit__navbar {
  position: fixed;
}
[dir] body > .body {
  margin-top: 60px;
}
.reveal-banner {
  top: 0px;
}
[dir="ltr"] .reveal-banner {
  left: 0px;
}
[dir] nav ul.c-sidebar__sections {
  margin-left: 12px;
  margin-bottom: 12px;
}
.c-sidebar__section {
  position: relative;
}
.progress-wrapper {
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 5px;
}
.c-sidebar__section x-progress {
  display: inline-block;
  height: 20px;
  width: 20px;
}
.progress-wrapper + a.c-sidebar__entry {
  display: inline-block;
  margin-left: 25px;
  max-width: calc(100% - 35px);
}
.progress-wrapper.sidebar-row.on {
  background: none;
  color: initial;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  transition: none;
}
.progress-wrapper.sidebar-row.on::before {
  content: none;
}
.progress-wrapper.sidebar-row x-progress {
  color: inherit;
  position: initial;
}
.c-sidebar__section .connection {
  // background: @qiskit-purple;
  height: calc(100% - 12px);
  left: 9px;
  pointer-events: none;
  position: absolute;
  top: 24px;
  border: 1px solid;
}
.c-sidebar__section:last-child .connection {
  display: none;
}
x-step {
  color: initial;
}
[dir] x-step h2 {
  border-bottom: none;
  color: initial;
  margin-top: 2em 0 1rem 0;
  padding-bottom: initial;
}
[dir] x-step:first-child h2 {
  margin-top: 2em;
}
[dir] x-step h3 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  margin: 2em 0 0.5em;
  text-align: initial;
}
x-course article.c-textbook__page {
  max-width: initial;
}
x-step p a {
  color: @qiskit-purple;
}
x-step p a::before {
  background: none;
}
x-step p a:hover {
  background-color: @qiskit-purple;
  color: white;
}
x-step p a::after {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%2214%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22white%22%20stroke-width%3D%222px%22%20d%3D%22M2%202L6%207L2%2012%22/%3E%3C/svg%3E");
}
[dir] x-step .CodeMirror pre {
  margin: 0;
}
[dir] mfenced {
  display: none;
}


// Glossary tooltip annotations
[dir] x-bio .target,
[dir] x-gloss .target {
  border-radius: 0;
  line-height: initial;
  padding: 0 2px;
  margin: 0 -2px;
  border-bottom: 2px solid @magenta-60;
}

x-bio .target:before, 
x-gloss .target:before {
  border-radius: 0;
  background: transparent;
  height: .15rem;
}

x-bio.on .target:before, 
x-gloss.on .target:before {
  background: transparent;
  border-bottom: none;
  left: 0;
  right: 0;
}

[dir] x-bio.on .target, 
[dir] x-gloss.on .target {
  background: @magenta-10;
  color: black;
  border-bottom: 2px solid transparent;
}

[dir] x-bio.on.top .target,
[dir] x-bio:focus-within.top .target,
[dir] x-gloss.on.top .target,
[dir] x-gloss:focus-within.top .target {
  border-radius: 0;
}


// Glossary popup 
[dir=ltr] x-bio.top .popup,
[dir=ltr] x-gloss.top .popup,
[dir=ltr] x-bio.left .popup,
[dir=ltr] x-gloss.left .popup,
[dir=ltr] x-bio.left.top .popup,
[dir=ltr] x-gloss.left.top .popup,
[dir=ltr] x-bio .popup,
[dir=ltr] x-gloss .popup,
[dir] x-bio.on .target,
[dir] x-bio:focus-within .target,
[dir] x-gloss.on .target,
[dir] x-gloss:focus-within .target {
  border-radius: 0;
}

[dir] x-bio .popup,
[dir] x-gloss .popup {
  background: @magenta-10;
  box-shadow: initial;
  left: -2px;
  border-top: 2px solid @magenta-60;
  border-bottom: 2px solid @magenta-60;
  max-width: 14rem;
}

x-bio .popup:after,
x-gloss .popup:after {
  content: " ";
  bottom: calc(100% + 1px);
  border-radius: 0;
  position: absolute;
  border-width: .25rem;
  border-style: solid;
  border-color: transparent transparent @magenta-60 transparent;
}

x-bio.top .popup:after,
x-gloss.top .popup:after {
  top: calc(100% + 1px);
  transform: rotate(180deg);
}

x-bio.left .popup:after,
x-gloss.left .popup:after {
  bottom: calc(100% + 1px);
  right: 1rem;
}

x-bio.left.top .popup:after,
x-gloss.left.top .popup:after {
  top: calc(100% + 1px);
  transform: rotate(180deg);
  right: 1rem;
}

x-bio .popup p,
x-gloss .popup p,
x-bio .popup strong,
x-gloss .popup strong {
  font-size: 14px;
  color: black;
  line-height: 20px;
}

// hero image
.preface-summary > aside.preface-summary-image {
  margin: initial;
  margin-bottom: 75px;
  float: initial;
}

// Tab container
.tabset {
  margin: 3rem 0;
}
x-step .tabset > h2 {
  color: white;
  background: @qiskit-blue;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  min-width: 40%;
  padding: 0.25em 1em;
}
x-step .tabset h2 + x-tabbox {
  margin-top: -2px;
}
.tabset x-tabbox {
  border-bottom: 2px solid @qiskit-blue;
  border-top: 2px solid @qiskit-blue;
  background: @qiskit-blueish-gray;
}
.tabset x-tabbox > .titles {
  margin: 0;
}
.tabset x-tabbox > .titles h3 {
  background: none;
  border: none;
  border-radius: initial;
  height: 1.3rem;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: initial;
  margin: 0.5em 0.5em 0 1em;
  padding: 0;
}
.tabset x-tabbox > .titles h3:hover {
  color: @qiskit-blue;
}
.tabset x-tabbox > .titles h3.active {
  border-bottom: 2px solid @qiskit-blue;
  color: @qiskit-blue;
}
.tabset .body {
  background: initial;
}
.tabset .tab:visible {
  display: grid !important;
}
.tabset x-tabbox .tab {
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding-left: 1em;
  position: relative;
  min-height: 200px;
}
.tabset .tab > p {
  display: inline-block;
  width: 51%;
}
.tabset .tab > figure {
  margin: 0;
  display: inline-block;
  position: absolute;
  right: 20%;
  top: 0;
}
.tabset .tab > figure img {
  max-height: 175px;
  max-width: 300px;
}

// Visual demo container
x-step .tabset.demo > h2 {
  background: @green;
}
.tabset.demo x-tabbox {
  border-bottom-color: @green;
  border-top-color: @green;
}
.tabset.demo x-tabbox > .titles {
  display: none;
}
.tabset.demo x-tabbox > .body,
.tabset.demo x-tabbox .tab {
  padding-top: 0;
  min-height: initial;
}