@import 'variables/mq.scss';
@import 'variables/settings.scss';

/* Hide contents on bigger screens */
@media only screen and (min-width: 860px) {
	.jb_cell.tag_contents {
		display: none;
	}
}


div.text_cell_render > p > img,
div.text_cell_render > p > a > img {
	margin-top: 36px;
	margin-bottom: 36px;
}

/* display correct image depending on status of sidebar */
.is-active > img.sidebar_closed_img,
:not(.is-active) > img.sidebar_open_img {
	display: none;
}


.target-body {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  pointer-events: none;
  z-index: 900;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s;
}

/*
body > .body {
  // margin-top: $qiskit-navbar-height;
  // prevent mobile resizing
  @include mq($until: medium) {
    overflow: hidden;
  }
}
*/

button span.rangle {
  float: right;
  margin-left: 2em;
}

/*
@media (max-width: $browser-small) {
  body > .body {
    position: relative;
  }
}

@media (min-width: $browser-medium) {
  body > .body {
    overflow-x: hidden;
  }
}
*/

/* Make youtube full width */
.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  margin-bottom: $spacing-unit;
}

.youtube-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
