@import 'variables/mq.scss';
@import 'variables/settings.scss';

/* Hide contents on bigger screens */
@media only screen and (min-width: 860px) {
	.jb_cell.tag_contents {
		display: none;
	}
}


div.text_cell_render > p > img,
div.text_cell_render > p > a > img {
	margin-top: 36px;
	margin-bottom: 36px;
}

/* display correct image depending on status of sidebar */
.is-active > img.sidebar_closed_img,
:not(.is-active) > img.sidebar_open_img {
	display: none;
}


.target-body {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  pointer-events: none;
  z-index: 900;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s;
}


body > .body {
  margin-top: $qiskit-navbar-height;
}

button span.rangle {
  float: right;
  margin-left: 2em;
}

@media (max-width: $browser-small) {
  body > .body {
    position: relative;
  }
}



// loading state
// html:not(.ready) {
  .c-sidebar__chapters,
  .page__banner,
  .reveal-banner,
  .c-textbook__content,
  .lesson-notes {
    display: none;
  }
// }

html.ready {
  q-skeleton-text,
  .loading-panel {
    // display: none;
  }
}
