@import './variables/colors.scss';
@import './variables/fonts.scss';

// Variables values for the light theme.
@mixin theme-variables-light {
  --background-color: #{$background-color-white};
  --logo-color: #{$text-color-lighter};
  --text-color: #{$text-color-light};
  --text-color-title: #{$text-color-dark};

  --bx-dropdown--items--background-color: #{$background-color-lighter};

  --cds-icon-01: var(--cds-text-01);
  --cds-text-01: var(--navbar--link-color);
  --cds-text-02: var(--navbar--link-color);

  --code-block--background-color: #{$background-color-lighter};
  --code-block--button--background-color: #{$background-color-darker};
  --code-block--button--text-color: #{$text-color-white};
  --code-block--output-background-color: #{$background-color-white};
  --code-block--cm-builtin: #30a;
  --code-block--cm-comment: #a50;
  --code-block--cm-def: #00f;
  --code-block--cm-keyword: #708;
  --code-block--cm-number: #164;
  --code-block--cm-string: #a11;

  --navbar--link-color: #{$link-color-secondary};

  --q-block--background-color: #{$background-color-lighter};
  --q-block--tabbox--color: #{$text-color-light};
  --q-block--tabbox--color--active: #{$block-link-color-tertiary};

  --reveal-banner--background-color: #{$background-color-light};
  --reveal-banner--text-color: #{$text-color-black};

  --sidebar--background-color: #{$background-color-lighter};
  --sidebar--link-color--active: #{$link-color-tertiary};
  --sidebar--menu-item--border-color: rgba(0, 0, 0, 0.07);
  --sidebar--menu-item--text-color: #{$link-color-tertiary};
  --sidebar--x-progress-color: #{$text-color-light};

  --table--header--background-color: #{$background-color-light};
  --table--header--text-color: #{$text-color-black};

  --utility-panel--menu-dropdown--background-color: #{$background-color-light};
  --utility-panel--toggle--background-color: #{$background-color-lighter};
  --utility-panel--toggle--text-color: #{$link-color-tertiary};
}

// Variables values for the dark theme.
@mixin theme-variables-dark {
  --background-color: #{$background-color-dark-2};
  --logo-color: #{$text-color-lighter-3};
  --text-color: #{$text-color-lighter-3};
  --text-color-title: #{$text-color-lighter-3};

  --bx-dropdown--items--background-color: #{$background-color-darker};

  --cds-icon-01: var(--cds-text-01);
  --cds-text-01: var(--navbar--link-color);
  --cds-text-02: var(--navbar--link-color);

  --code-block--background-color: #{$background-color-darker};
  --code-block--button--background-color: #{$background-color-light};
  --code-block--button--text-color: #{$text-color-dark};
  --code-block--output-background-color: #{$background-color-dark-2};
  --code-block--cm-builtin: #{$purple-40};
  --code-block--cm-comment: #{$orange-40};
  --code-block--cm-def: #{$blue-40};
  --code-block--cm-keyword: #{$magenta-40};
  --code-block--cm-number: #{$green-30};
  --code-block--cm-string: #{$red-40};

  --navbar--link-color: #{$text-color-lighter-3};
  
  --q-block--background-color: #{$background-color-darker};
  --q-block--tabbox--color: #{$text-color-lighter-4};
  --q-block--tabbox--color--active: #{$block-link-color-tertiary-2};

  --reveal-banner--background-color: #{$background-color-darker};
  --reveal-banner--text-color: #{$text-color-lighter-3};

  --sidebar--background-color: #{$background-color-darker};
  --sidebar--link-color--active: #{$link-color-tertiary-2};
  --sidebar--menu-item--border-color: #{$border-color-light-3};
  --sidebar--menu-item--text-color: #{$link-color-tertiary-2};
  --sidebar--x-progress-color: #{$text-color-lighter-3};

  --table--header--background-color: #{$background-color-darker};
  --table--header--text-color: #{$text-color-lighter-3};

  --utility-panel--menu-dropdown--background-color: #{$background-color-dark};
  --utility-panel--toggle--background-color: #{$background-color-darker};
  --utility-panel--toggle--text-color: #{$link-color-tertiary-2};
}

// Themes setup.
body {
  @include theme-variables-light;
  
  &.theme-light {
    @include theme-variables-light;
  }

  &.theme-dark {
    @include theme-variables-dark;
  }

  @media (prefers-color-scheme: dark) {
    @include theme-variables-dark;
  }
}

html {
  box-sizing: border-box;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html,
body {
  background-color: var(--background-color);
  font-family: $plex-sans;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 20px;
  min-height: 100%;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
  color: $link-color-tertiary;
}

a:visited {
  color: $link-color-tertiary;
}

pre {
  overflow: auto;
}

code, pre {
  font-family: $plex-mono;
}

table {
  margin-left: auto;
  margin-right: auto;
  empty-cells: show !important;
}

tbody {
  border-bottom: 1px solid $border-color-dark !important;
}

/* Fix strange table striping choice */
tr:nth-child(even) {
  background-color: $background-color-lighter !important;
}

td {
  border: 0px !important;
  border-left: 1px solid $border-color-dark !important;
  border-right: 1px solid $border-color-dark !important;
}

thead td {
  border-bottom: 1px solid $border-color-dark !important;
}

table th {
  border: 1px solid $border-color-dark;
}

// Scrollbar width
::-webkit-scrollbar {
  width: 5px;
  background: $background-color-lighter;
}

::-webkit-scrollbar-thumb {
  background: $background-color-light;
}

main, nav {
  scrollbar-width: thin;
}

details {
  background: $background-color-lighter;
  border-bottom: 1px solid $border-color-light-2;
  font-size: 0.9rem;
  margin: 1rem 0;
  padding: 1rem;

  summary {
    cursor: pointer;
    font-weight: 600;
    line-height: 1.15rem;
    padding: 8px 0;

    &::after {
      content: url('/images/chevron-down.svg');
      display: inline-block;
      position: absolute;
      right: 2rem;
      width: 1rem;
    }
  }

  &[open] {
    summary {
      &::after {
        content: url('/images/chevron-up.svg');
      }
    }
  }
}
