@import 'sass-mq/_mq.scss';

$mq-responsive: true;

/*
Carbon breakpoints, for more information, take a look at:
https://www.carbondesignsystem.com/guidelines/2x-grid/basics#breakpoints
*/
$small: 360px;
$medium: 672px;
$large: 1056px;
$x-large: 1312px;
$max-size: 1584px;

/*
The plugin auto converts 'px' units into 'em's on a 16:1 scale.
https://github.com/sass-mq/sass-mq#media-queries-with-superpowers-
*/
$mq-breakpoints: (
  small: $small,
  medium: $medium,
  large: $large,
  x-large: $x-large,
  max-size: $max-size
);
