q-qiskit-banner.page__banner
  | Miss the old version of the textbook? Access it&nbsp;
  a(
    href="https://qiskit.org/textbook"
    onclick="textbook.trackClickEvent('banner > old-version')"
    target="_blank"
  ) here
