q-qiskit-banner.page__banner(data-test="qiskit-banner-old-textbook-version")
  | Miss the old version of the textbook? Access it&nbsp;
  a(
    href="https://qiskit.org/textbook"
    onclick="textbook.trackClickEvent('old-textbook-version', 'banner')"
    target="_blank"
  ) here
