@import '../../../node_modules/@carbon/colors/scss/colors';

$active-color: $purple-70;
$active-color-dark: $purple-80;

$background-color-white: $white-0;
$background-color-light: $cool-gray-20;
$background-color-light-2: $cool-gray-30;
$background-color-lighter: $cool-gray-10;
$background-color-dark: $cool-gray-80;
$background-color-darker: $cool-gray-90;

$background-color-tertiary: $purple-60;
$background-color-quaternary: $purple-40;

$disabled-background-color: rgba($cool-gray-50, 0.5);

$text-color-white: $white-0;
$text-color-black: $black-100;
$text-color-dark: $cool-gray-100;
$text-color-light: $cool-gray-80;
$text-color-lighter: $cool-gray-60;
$text-color-lighter-3: $cool-gray-20;
$text-active-color: $purple-70;

$border-color: $cool-gray-20;
$border-color-light: $cool-gray-10;
$border-color-light-2: $cool-gray-30;
$border-color-dark: $cool-gray-100;
$border-color-focused: $blue-60;

$border-color-secondary: $purple-70;
$border-color-tertiary: $purple-60;
$border-color-quinary: $purple-30;

$shadow-color-light: $cool-gray-70;

$link-color-secondary: $cool-gray-80;

$link-color-tertiary: $purple-70;
$link-hover-color-tertiary: $purple-80;

$link-color-quaternary: $purple-50;
$link-hover-color-quaternary: $purple-40;

$button-background-color: $purple-70;
$button-background-color-dark: $purple-80;
$button-text-color: $white-0;

$button-background-color-secondary: $cool-gray-10;
$button-background-color-secondary-dark: $purple-70;
$button-text-color-secondary: $purple-70;
$button-active-text-color-secondary: $white-0;

$button-background-color-tertiary: $cool-gray-90;
$button-background-color-tertiary-dark: $purple-70;
$button-text-color-tertiary: $purple-40;

$button-background-color-quaternary: $cool-gray-90;
$button-background-color-quaternary-dark: $cool-gray-80;

$block-background-color: $purple-80;
$block-border-color: $purple-80;
$block-color: $white-0;

$block-background-color-secondary: $cyan-30;
$block-border-color-secondary: $cyan-30;
$block-color-secondary: $black-100;

$block-background-color-tertiary: $blue-60;
$block-border-color-tertiary: $blue-60;
$block-color-tertiary: $white-0;
$block-link-color-tertiary: $blue-60;

$glossary-background-color: $magenta-10;
$glossary-border-color: $magenta-60;

$status-color-correct: $green-30;
$status-color-wrong: $red-50;
