$plex-mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;

$plex-sans: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

$plex-sans-light: 'IBM Plex Sans Light', 'Helvetica Neue', Arial, sans-serif;