@import '../../../node_modules/sass-mq/_mq.scss';

$mq-responsive: true;

/*
Carbon breakpoints, for more information, take a look at:
https://www.carbondesignsystem.com/guidelines/2x-grid/basics#breakpoints
*/
$browser-small: 360px;
$browser-medium: 672px;
$browser-large: 1056px;
$browser-x-large: 1312px;
$browser-max-size: 1584px;

/*
The plugin auto converts 'px' units into 'em's on a 16:1 scale.
https://github.com/sass-mq/sass-mq#media-queries-with-superpowers-
*/
$mq-breakpoints: (
  small: $browser-small,
  medium: $browser-medium,
  large: $browser-large,
  x-large: $browser-x-large,
  max-size: $browser-max-size
);
