$page-max-width: 1600px;

$content-max-width: 43rem;

$textbook-page-width: 100%;

$qiskit-navbar-height: 60px;

$left-sidebar-width: 256px;
$right-sidebar-width: 32rem;

$spacing-unit-x-small: 6px;
$spacing-unit-small: 12px;
$spacing-unit: 24px;

// Grid parameters.
$column-size-large: 4rem;
$column-size-medium: 5rem;
$column-size-small: 5rem;
