$page-max-width: 1600px;

$content-max-width: 46rem;

$textbook-page-width: 100%;

$qiskit-navbar-height: 60px;
$textbook-page-banner-height: 40px;

$left-sidebar-width: 16rem;
$left-sidebar-width-sm: 3.5rem;
$right-sidebar-width-xl: 30rem;
$right-sidebar-width-lg: 20rem;

$spacing-unit-x-small: 6px;
$spacing-unit-small: 12px;
$spacing-unit: 24px;

// Grid parameters.
$column-size-large: 4rem;
$column-size-medium: 5rem;
$column-size-small: 5rem;

$icon-width: 1rem;
