.footer-nav {
  display: flex;
  justify-content: space-between;

  &__cta {
    &__container {
      width: 50%;
    }

    &__prev svg {
      transform: rotate(-180deg);
    }

    &__prev svg,
    &__next svg {
      align-self: flex-end;
    }
  }

  .app-cta {
    height: 100%;
    width: 100%;
    align-items: flex-start;
    min-height: 6rem;
  }
}

html.dark-theme {
  .footer-nav {
    .app-cta_secondary {
      color: var(--qiskit--color-text-primary);
      background-image: linear-gradient(90deg, #6929c4 0%, #6929c4 50%, var(--q-block--background-color) 50%, var(--q-block--background-color) 100%);
    }
  }
}
