.footer-nav {
  display: flex;
  justify-content: space-between;

  &__cta {
    &__container {
      width: 50%;
    }

    &__prev svg {
      transform: rotate(-180deg);
    }

    &__prev svg,
    &__next svg {
      align-self: flex-end;
    }
  }

  .app-cta {
    height: 100%;
    width: 100%;
    align-items: flex-start;
    min-height: 6rem;
  }
}
