.skeleton-placeholder {
  &__heading p {
      height: 4rem;
      margin-bottom: 1rem;
  }
}

// customize color
.bx--skeleton__text {
  background: $background-color-light;

  &::before {
    background: $background-color-light-2;
  }
}
