@use 'sass:math';
@import '../variables/mq.scss';
@import '../variables/settings.scss';
@import '../variables/colors.scss';

.c-sidebar {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-height: 100%;
  width: $left-sidebar-width;

  @include mq($until: small) {
    padding-top: 36px;
    width: 100%;
  }

  @include mq($until: medium) {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @include mq($until: large) {
    .app-mega-dropdown {
      max-width: initial;
    }
  }

  &__chapters-container {
    overflow: auto;
    background-color: $background-color-lighter;
    padding: $spacing-unit-small $spacing-unit;
    scrollbar-color: $background-color-lighter $background-color-lighter;
    transition: scrollbar-color 0.2s ease-in-out;
    font-size: 0.875rem;
    line-height: 1.71429;
    
    &:hover {
      scrollbar-color: $text-color-lighter-3 $background-color-lighter;
    }
    
    @include mq($from: medium) {
      z-index: 100;
    }
    
    @include mq($until: medium) {
      max-width: 100%;
      width: 100%;
      z-index: 1;
    }
  }

  &__chapter {

    &-content {
      direction: ltr;
      list-style: none;
      margin-left: 0;
      margin-bottom: 0;
      padding-left: 0;
    }
    
    &-title {
      display: none;
    }

    & > a {
      font-size: 1rem;
      font-weight: 600;
      line-height: 22px;
    }

    &__section {
      margin: 0 0 .5em;
      position: relative;
      padding-bottom: 0.7rem;

      .connection {
        height: calc(100% - 12px);
        left: 9px;
        pointer-events: none;
        position: absolute;
        top: 24px;
        border: 1px solid;
        border-color: $border-color-light-2;
        visibility: hidden;
        
        body[data-learning-path="true"] & {
          visibility: initial;
        }
        
        &.connection--progress {
          border-color: $border-color-secondary;
          height: 0;
          transition: height .2s ease-out;
        }
      }
      
      x-progress {
        display: inline-block;
        height: 20px;
        width: 20px;
      }

      &-list {
        padding: $spacing-06 0 8rem 0;
        margin: 0;
      }
    }

    &__subsections {
      list-style: none;
      margin-bottom: 0;
      margin-left: 24px;
    }
  }

  &__entry {
    display: block;
    color: $text-color-dark;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.16px;
    padding: math.div($spacing-unit-x-small, 2);
    text-decoration: none;
  
    .c-sidebar__chapter & {
      font-size: 1rem;
      font-weight: 600;
      line-height: 22px;
    }

    &--active {
      &#{&} {
        color: $text-active-color;
        font-weight: 600;
    
        &:visited {
          color: $text-active-color;
        }
      }
    }
  }

  &__footer {
    direction: rtl;
    font-size: 14px;
    line-height: 24px;
    background-color: $background-color-lighter;
    width: 100%;
    z-index: 100;
  
    @include mq($until: medium) {
      padding-bottom: $spacing-unit;
      width: 100%;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &__item {
        display: flex;
        width: 100%;
        height: $spacing-08;
        align-items: center;
        justify-content: flex-end;
        padding: .5rem 2rem;
        border-top: 1px solid rgba(0, 0, 0, 0.07);
        color: $link-color-tertiary;
        gap: $spacing-03;
        
        & svg {
          width: $spacing-05;
          fill: $purple-70;
        }
      }
    }

    #app-panel-language-toggle {
      display: none;
    }
  }
  
  #back-home,
  #app-panel-footer-toggle {
    & > svg {
      display: inline-block;
      vertical-align: text-top;
      & g {
        stroke: currentColor;
      }
    }
  }

  &__mobile-menu {
    display: none;
    grid-area: sidebar-mobile-menu;
    background-color: $background-color-lighter;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    text-align: right;

    @include mq($until: medium) {
      display: block;
    }

    &__toggle {
      @include type-style('body-long-01');
      display: flex;
      align-items: center;
      color: $purple-70;
      height: 40px;
      justify-content: space-between;
      display: flex;
      align-items: center;
      text-align: right;
      padding: .5rem 1rem;
      
      svg {
        width: $spacing-05;
        fill: $purple-70;
      }

      &__label {
        margin-left: 0.5rem;
      }
    }
  }
}

.c-textbook__sidebar--hidden {
  .c-sidebar {
    grid-template-rows: 1fr auto;
    max-width: $left-sidebar-width-hidden;

    @include mq($until: medium) {
      display: none;
    }

    &__content-menu,
    .connection--progress {
      display: none;
    }

    .language-selector {
      display: none;
    }

    &__entry,
    .progress-wrapper + &__entry {
      display: none;
    }

    &__chapters-container {
      max-width: $left-sidebar-width-hidden;
      padding: 0.5rem;
    }

    &__chapter {
      &__section {
        height: 3rem;
      }

      &__section-list {
        margin-left: 0.5rem;
        margin-bottom: 0;
      }
    }

    &__footer {
      &__menu {
        &__item {
          padding: 0.5rem;
          justify-content: center;
        }
        &__item-label {
          display: none;
        }
      }
    }
  }
}

/*

      .c-textbook__sidebar {
        overflow: auto;
        background-color: $background-color-lighter;
        padding: $spacing-unit-small $spacing-unit;
        scrollbar-color: $background-color-lighter $background-color-lighter;
        transition: scrollbar-color 0.2s ease-in-out;
        font-size: 0.875rem;
        line-height: 1.71429;

        &:hover {
          scrollbar-color: $text-color-lighter-3 $background-color-lighter;
        }

        @include mq($from: medium) {
          z-index: 100;
        }

        @include mq($until: medium) {
          max-width: 100%;
          width: 100%;
          z-index: 1;
        }
      }

      .c-sidebar__chapters {
        direction: ltr;
        list-style: none;
        margin-left: 0;
        margin-bottom: 0;
        padding-left: 0;
      }

li.c-sidebar__chapter:first-child {
  display: none;
}

        li.c-sidebar__chapter > a {
          font-size: 1rem;
          font-weight: 600;
          line-height: 22px;
        }

        .c-sidebar__sections,
        .c-sidebar__subsections {
          list-style: none;
          margin-bottom: 0;
        }

        .c-sidebar__sections {
          margin-left: 0;
          margin-bottom: 12px;
        }

        .c-sidebar__subsections {
          margin-left: 24px;
        }

        .c-sidebar__entry {
          display: block;
          color: $text-color-dark;
          font-size: 0.875rem;
          line-height: 20px;
          letter-spacing: 0.16px;
          padding: math.div($spacing-unit-x-small, 2);
          text-decoration: none;

          .c-sidebar__chapter & {
            font-size: 1rem;
            font-weight: 600;
            line-height: 22px;
          }
        }

        .c-sidebar__entry--active {
          &.c-sidebar__entry--active {
            color: $text-active-color;
            font-weight: 600;

            &:visited {
              color: $text-active-color;
            }
          }
        }

        .c-sidebar__divider {
          border-top: 1px solid $text-color-dark;
          margin: $spacing-unit-x-small;
        }

        ul.c-sidebar__chapters {
          > li.c-sidebar__chapter {
            &:first-child {
              display: initial;
            }

            + li.c-sidebar__chapter {
              margin-top: 1rem;
            }
          }
        }

        nav ul.c-sidebar__sections {
          margin-top: 24px;
          margin-bottom: 8rem;
        }

        .c-sidebar__section {
          margin: 0 0 .5em;
          position: relative;
          padding-bottom: 0.7rem;
        }

        // sidebar footer
        .c-sidebar_footer {
          direction: rtl;
          font-size: 14px;
          line-height: 24px;
          background-color: $background-color-lighter;
          width: 100%;
          z-index: 100;

          @include mq($until: medium) {
            padding-bottom: $spacing-unit;
            width: 100%;
          }
        }

        #back-home > svg {
          display: inline-block;
          margin-right: 10px;
          vertical-align: text-top;
        }

        #app-panel-footer-toggle > svg {
          display: inline-block;
          margin-right: 10px;
          vertical-align: text-top;
        }

        #back-home,
        #app-panel-footer-toggle {
          > svg g {
            stroke: currentColor;
          }
        }

        .sidebar_header_menu {
          display: none;

          @include mq($until: medium) {
            display: block;
            position: fixed;
            width: 50%;
            z-index: 2;
            left: 0;
            right: 0;
            background-color: $background-color-lighter;
            border-bottom: 1px solid $border-color;
            border-right: 1px solid $border-color;
          }
        }

        .sidebar_footer__menu {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }

        .sidebar_footer__menu_item {
          display: flex;
          width: 100%;
          height: $spacing-08;
          align-items: center;
          justify-content: flex-end;
          padding: .5rem 2rem;
          border-top: 1px solid rgba(0, 0, 0, 0.07);
          color: $link-color-tertiary;
        }

        .sidebar_header_menu_toggle,
        .sidebar_footer__menu_item {
          svg {
            width: $spacing-05;
            fill: $purple-70;
          }
        }

.sidebar_header_menu_toggle {
  display: none;
  text-align: right;
  padding: .5rem 1rem;

  @include mq($until: medium) {
    @include type-style('body-long-01');
    color: $purple-70;
    height: 40px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
}

.sidebar_header__menu_item-label {
  margin-left: 0.5rem;
}

          .c-textbook__panel--hidden {
            .c-sidebar {
              grid-template-rows: 1fr auto;
              max-width: $left-sidebar-width-hidden;

              @media (max-width: $browser-small) {
                display: none;
              }

              @include mq ($from: small, $until: large) {
                max-width: $left-sidebar-width-sm;
                z-index: 0;
              }

              .c-content-menu,
              .connection--progress {
                display: none;
              }
            }

            .language-selector {
              display: none;
            }
          }

          .c-textbook:not(.c-textbook__panel--hidden) #app-panel-language-toggle {
            display: none;
          }

          .c-textbook__panel--hidden .c-sidebar__entry,
          .c-textbook__panel--hidden .progress-wrapper + .c-sidebar__entry {
            display: none;
          }

          .c-textbook__panel--hidden .c-textbook__sidebar {
            max-width: $left-sidebar-width-hidden;
            padding: 0.5rem;

            @include mq($until: medium) {
              max-width: 0;
              padding: 0;
            }

          }

          .c-textbook__panel--hidden .c-sidebar__section{
            height: 3rem;
          }

          .c-textbook__panel--hidden .c-sidebar__sections{
            margin-left: 0.5rem;
            margin-bottom: 0;
          }

          .c-textbook__panel--hidden .sidebar_footer__menu_item {
            padding: 0.5rem;
            justify-content: center;
          }

          .c-textbook__panel--hidden #app-panel-footer-toggle > svg {
            margin: 0;
          }

          .c-textbook__panel--hidden #back-home > svg {
            margin: 0;
          }

          .c-textbook__panel--hidden .sidebar_footer {
            max-width: $left-sidebar-width-hidden;

            @include mq($until: medium) {
              display: none;
            }
          }



          .c-textbook__utility_panel-closed .c-textbook__page {
            @include mq($until: large) {
              max-width: calc(100% - 4rem);
            }
          }

          .c-textbook__panel--hidden .sidebar_footer__menu_item-label {
            display: none;
          }

@media (max-width: $browser-small) {
  .c-textbook.c-textbook__panel--hidden .c-textbook__sidebar {
    max-width: initial;
    right: 0;
    width: 100%;
  }

  .c-textbook__panel--hidden .c-sidebar__entry{
    display: inline-block;
  }

  .c-textbook__panel--hidden .sidebar_footer__menu_item {
    padding: 0.5rem 2rem;
    justify-content: flex-end;
  }

  .c-textbook .sidebar_header_menu svg {
    transform: rotate(180deg);
    transition: transform 70ms cubic-bezier(.2,0,.38,.9);
  }

  .c-textbook.c-textbook__panel--hidden .sidebar_header_menu svg {
    transform: rotate(0deg);
    transition: transform 70ms cubic-bezier(.2,0,.38,.9);
  }

  div.sidebar_footer {
    padding-bottom: $spacing-09;
  }

  #back-home .sidebar_footer__menu_item-label {
    display: block;
  }

  .c-textbook__panel--hidden #back-home > svg {
    margin-right: 10px;
  }

  .sidebar_header_menu_toggle {
    display: flex;
    align-items: center;
  }

  .c-textbook .c-textbook__sidebar {
    max-width: initial;
    width: 100%;
    z-index: 1;
    top: 96px
  }

  .c-textbook.c-textbook__panel--hidden .c-textbook__sidebar {
    z-index: 0;
  }

  .c-textbook.c-textbook__panel--hidden #app-panel-footer-toggle > svg {
    transform: rotate(-180deg);
  }

  .c-textbook__panel--hidden .c-sidebar__section {
    height: initial;
  }
}
*/