@import '../../../node_modules/carbon-components/scss/globals/scss/typography';
@import '../variables/colors.scss';
@import '../variables/settings.scss';
@import '../variables/mq.scss';
@import '../variables/fonts.scss';

body {
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

main.body {
  padding: 0;
  margin: 0;
  max-height: 100%;
  overflow: hidden;
}

.c-textbook {
  display: flex;
  max-height: 100%;
  overflow: hidden;
  position: relative;

  @include mq($until: medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
      "sidebar-mobile-menu utility-panel"
      "textbook-content textbook-content";
    position: relative;
  }

  &__page {
    grid-area: textbook-content;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: none;
    flex: 1;
    gap: $spacing-05;
    
    @include mq($until: medium) {
      overflow: hidden;
    }

    &__error {
      transform: translate(0);
      top: 0;
      position: relative;
      transform: initial;
      padding-left: 8rem;
      max-width: initial;
      padding-top: 4rem;
      display: flex;
  
      @include mq($until: medium) {
        padding-left: $spacing-05;
        flex-direction: column;
      }
  
      @include mq($from: medium) {
        padding-left: 3rem;
        justify-content: space-between;
      }
  
      @include mq($from: large) {
        padding-left: 7rem;
        justify-content: flex-start;
      }
  
      &-container {
        width: 100%;
        max-width: $browser-small;
  
        @include mq($until: medium) {
          max-width: 100%;
        }
      }
  
      &-code {
        margin-bottom: $spacing-04;
      }
  
      &-message {
        margin-bottom: $spacing-06;
      }
  
      &-cta .app-cta_ghost[datatest="error-page-cta"]{
        padding: $spacing-05;
        justify-content: space-between;
      }
  
      &-cta .app-cta_ghost .app-cta__icon {
        margin-right: .25rem;
      }
      &-img {
        max-width: 52rem;
      }
    }
  }
  
  &__sidebar--hidden .c-textbook__page {
    @include mq($until: medium) {
      overflow: auto;
    }
  }
  
  .reveal-banner {
    z-index: auto;
    position: initial;
    display: inline-block;
    width: max-content;
  }
  
  .page__banner {
    height: $textbook-page-banner-height;
  }

  &__content {
    max-width: $content-max-width;
    padding: 0 $spacing-06 $spacing-05 $spacing-05;

    x-step {
      z-index: auto;
    }
  }
  
  .page-title {
    @include type-style('expressive-heading-05', $fluid: true);
    color: $text-color-dark;
    margin-top: $spacing-06;
    margin-bottom: $spacing-06;
    max-width: 70%;
  }

  &__utility-panel {
    grid-area: utility-panel;
    max-height: 100%;
    display: flex;
    
    q-utility-panel {
      flex: 1;
    }

    @include mq($from: medium) {
      position: absolute;
      top: 0;
      right: 0;
    }

    .utility-panel_open {
      @include mq($until: medium) {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
}

// Fix text in code output SVGs
circle,
g,
image,
line,
path,
polyline,
use {
  transform-box: inherit;
  transform-origin: revert;
}
