@import '../variables/mq.scss';
@import '../variables/settings.scss';
@import '../variables/colors.scss';

// hide during loading
html.loading {
  .c-sidebar__entry,
  .progress-wrapper,
  .reveal-banner,
  .connection,
  .c-sidebar__chapter,
  #page-title,
  .page__banner,
  .footer-nav,
  .lesson-notes__section__title,
  .lesson-notes__term,
  .empty-panel__title,
  .empty-panel__description,
  .empty-panel__img,
  x-step {
    display: none;
  }

  .c-textbook__content {
    padding-top: 1rem;
    max-width: initial;
  }

  .js-show-sidebar .c-textbook__page {
    max-width: calc(100% - #{$right-sidebar-width-lg} - #{$left-sidebar-width}  - 10rem);
    z-index: 0;
    padding-right: 0;
  }

  .c-textbook__utility_panel{
    min-width: 30rem;
  }
}


html:not(.loading) {
  .skeleton-placeholder,
  .panel__skeleton-placeholder {
    display: none;
  }
}
