name: Preview

# run when a pull request is made
on: [pull_request]

jobs:
  code-engine:
    # Prevents action to be executed by forks and drafts
    if: github.event.pull_request.draft == false && github.event.pull_request.head.repo.full_name == github.repository
    uses: Qiskit/gh-actions/.github/workflows/code-engine-preview.yml@platypus-user-account
    with:
      code_engine_project: platypus-preview
      docker_image_name: platypus
    secrets:
      ibmcloud_account: ${{ secrets.IBMCLOUD_ACCOUNT }}
      ibmcloud_api_key: ${{ secrets.IBMCLOUD_API_KEY }}
