name: Preview

on:
  pull_request:

jobs:
  code-engine:
    # Run the job if it's not triggered by a PR or if the PR is from the same repository
    # This is because this job requires a secret, and secrets cannot be shared with forks
    if: github.event.pull_request == null || github.event.pull_request.head.repo.full_name == github.repository

    uses: Qiskit/gh-actions/.github/workflows/code-engine-preview.yml@main
    with:
      code_engine_project: platypus-preview
      docker_image_name: platypus
    secrets:
      ibmcloud_account: ${{ secrets.IBMCLOUD_ACCOUNT }}
      ibmcloud_api_key: ${{ secrets.IBMCLOUD_API_KEY }}
