name: Build and Release

on:
  # run when action is manually triggered
  workflow_dispatch:
  # run on pushes to release branch
  push:
    branches:
      - release

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    steps:
      - name: Load npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}

      - name: Load pip cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('converter/textbook-converter/requirements.txt') }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Node v14
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install npm dependencies
        run: npm ci
      
      - name: Install Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      
      - name: Install Python dependencies
        run: pip install -r converter/textbook-converter/requirements.txt

      - name: Build
        # Change this if you need different/additional build scripts.
        run: npm run build

      # https://github.com/google-github-actions/deploy-appengine
      - name: Deploy to AppEngine
        uses: google-github-actions/deploy-appengine@main
        with:
          # The GCLOUD_SERVICE_ACCOUNT secret is defined in the GitHub repo.
          # It needs the following permissions
          #  - roles/appengine.appAdmin
          #  - roles/iam.serviceAccountUser
          #  - roles/compute.storageAdmin
          #  - cloudbuild.builds.editor
          credentials: ${{secrets.GCLOUD_SERVICE_ACCOUNT}}
          deliverables: app.yaml
          # qiskit-web is the Google Cloud App ID provided by Mathigon
          project_id: qiskit-web
