name: Test

on:
  workflow_dispatch:
  pull_request:

jobs:
  test-run:
    name: Run tests

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "14"
          cache: "npm"

      - run: npm ci

      - name: Apply configuration
        run: npm run setup:secrets -- --mongo ${{ secrets.MONGODB_URI }}

      - name: Install Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Load pip cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: py-${{ hashFiles('converter/textbook-converter/requirements.txt') }}-${{ hashFiles('converter/textbook-converter/requirements-test.txt') }}

      - name: Install Python dependencies
        run: pip install -r converter/textbook-converter/requirements.txt -r converter/textbook-converter/requirements-test.txt

      - name: Notebook tests
        run: npm run test:nb

      - name: Build
        run: npm run build

      - name: Cypress tests
        uses: cypress-io/github-action@v2
        with:
          start: npm start
          wait-on: "http://localhost:8080/health"
